<div ng-app="app">
  <div ng-controller="teamsCtrl" ng-init="setup()">

    <div class="main-block">
          
      <!-- Page heading two starts -->
      
      <div class="page-heading-two">
        <div class="container">
          <h2>Teams <span>Something goes here</span></h2>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Page heading two ends -->
    
      <div class="container">
      <h5>Filter by league: <input ng-model="leagueFilter"> </h5>
      
      <datalist id="teams">
        <option ng-repeat="team in teams">{{team.league}}</option>
      </datalist>

        <div class="block-heading-two">
          <h3><span>Premier League</span></h3>
        </div> 
        
        <div class="row">
          
          <div class="col-md-3 col-sm-6" ng-repeat="team in teams |  orderBy:'name' |filter: {league: leagueFilter} | filter: {league: 'Premier League'}">
            <!-- Ecommerce UI #3 -->
            <div class="ecom-ui ecom-ui-three">
              <!-- Hot tag -->
              <!-- <span class="ecom-hot bg-green">New</span> -->
              <div class="img-container">
                <!-- Product Image -->
                <a href="#"><img class="img-responsive" src="/teams/{{team.icon}}" alt="" /></a>
              </div>
              <!-- product details -->
              <div class="product-details">
                <!-- product title -->
                <h5>{{team.name}}</h5>
                <div class="clearfix"></div>
                <hr />
                <!-- ecom button -->
                <p><% if current_user_login %>
                  <form>
                    <input type="hidden" ng-model="team_id" ng-value="team.id"></input>
                    <button ng-click="addTeamToUserAllegiance(team.id, <%= current_user_login.user.id %>)" class="btn btn-color" >Add team to your faves</button>
                  </form>
                <% end %>
                </p>
                <!-- Media icon -->
                <!-- <span class="p-media pull-right">
                  <a href="#" class="b-tooltip" data-placement="top" title="21"><i class="fa fa-heart color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="49"><i class="fa fa-share-alt color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="35"><i class="fa fa-paper-plane-o color"></i></a>
                </span> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- Ecommerce UI #3 -->
          </div>  
        </div><!-- row end -->

        <div class="block-heading-two">
          <h3><span>Bundesliga</span></h3>
        </div> 
        
        <div class="row">
          
          <div class="col-md-3 col-sm-6" ng-repeat="team in teams | orderBy:'name' |filter: {league: leagueFilter} |filter: {league: 'Bundesliga'} ">
            <!-- Ecommerce UI #3 -->
            <div class="ecom-ui ecom-ui-three">
              <!-- Hot tag -->
              <!-- <span class="ecom-hot bg-green">New</span> -->
              <div class="img-container">
                <!-- Product Image -->
                <a href="#"><img class="img-responsive" src="/teams/{{team.icon}}" alt="" /></a>
              </div>
              <!-- product details -->
              <div class="product-details">
                <!-- product title -->
                <h5>{{team.name}}</h5>
                <div class="clearfix"></div>
                <hr />
                <!-- ecom button -->
                <p><% if current_user_login %>
                  <form>
                    <input type="hidden" ng-model="team_id" ng-value="team.id"></input>
                    <button ng-click="addTeamToUserAllegiance(team.id, <%= current_user_login.user.id %>)" class="btn btn-color" >Add team to your faves</button>
                  </form>
                <% end %>
                </p>
                <!-- Media icon -->
                <!-- <span class="p-media pull-right">
                  <a href="#" class="b-tooltip" data-placement="top" title="21"><i class="fa fa-heart color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="49"><i class="fa fa-share-alt color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="35"><i class="fa fa-paper-plane-o color"></i></a>
                </span> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- Ecommerce UI #3 -->
          </div>  
        </div><!-- row end -->


        <div class="block-heading-two">
          <h3><span>Serie A</span></h3>
        </div> 
        <div class="row">
          
          <div class="col-md-3 col-sm-6" ng-repeat="team in teams | orderBy:'name' |filter: {league: leagueFilter} |filter: {league: 'Serie A'}">
            <!-- Ecommerce UI #3 -->
            <div class="ecom-ui ecom-ui-three">
              <!-- Hot tag -->
              <!-- <span class="ecom-hot bg-green">New</span> -->
              <div class="img-container">
                <!-- Product Image -->
                <a href="#"><img class="img-responsive" src="/teams/{{team.icon}}" alt="" /></a>
              </div>
              <!-- product details -->
              <div class="product-details">
                <!-- product title -->
                <h5>{{team.name}}</h5>
                <div class="clearfix"></div>
                <hr />
                <!-- ecom button -->
                <p><% if current_user_login %>
                  <form>
                    <input type="hidden" ng-model="team_id" ng-value="team.id"></input>
                    <button ng-click="addTeamToUserAllegiance(team.id, <%= current_user_login.user.id %>)" class="btn btn-color" >Add team to your faves</button>
                  </form>
                <% end %>
                </p>
                <!-- Media icon -->
                <!-- <span class="p-media pull-right">
                  <a href="#" class="b-tooltip" data-placement="top" title="21"><i class="fa fa-heart color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="49"><i class="fa fa-share-alt color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="35"><i class="fa fa-paper-plane-o color"></i></a>
                </span> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- Ecommerce UI #3 -->
          </div>  
        </div><!-- row end -->

        <div class="block-heading-two">
          <h3><span>Ligue 1</span></h3>
        </div> 
        <div class="row">
          
          <div class="col-md-3 col-sm-6" ng-repeat="team in teams | orderBy:'name' |filter: {league: leagueFilter} | filter: {league: 'Ligue 1'}">
            <!-- Ecommerce UI #3 -->
            <div class="ecom-ui ecom-ui-three">
              <!-- Hot tag -->
              <!-- <span class="ecom-hot bg-green">New</span> -->
              <div class="img-container">
                <!-- Product Image -->
                <a href="#"><img class="img-responsive" src="/teams/{{team.icon}}" alt="" /></a>
              </div>
              <!-- product details -->
              <div class="product-details">
                <!-- product title -->
                <h5>{{team.name}}</h5>
                <div class="clearfix"></div>
                <hr />
                <!-- ecom button -->
                <p><% if current_user_login %>
                  <form>
                    <input type="hidden" ng-model="team_id" ng-value="team.id"></input>
                    <button ng-click="addTeamToUserAllegiance(team.id, <%= current_user_login.user.id %>)" class="btn btn-color" >Add team to your faves</button>
                  </form>
                <% end %>
                </p>
                <!-- Media icon -->
                <!-- <span class="p-media pull-right">
                  <a href="#" class="b-tooltip" data-placement="top" title="21"><i class="fa fa-heart color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="49"><i class="fa fa-share-alt color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="35"><i class="fa fa-paper-plane-o color"></i></a>
                </span> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- Ecommerce UI #3 -->
          </div>  
        </div><!-- row end -->

        <div class="block-heading-two">
          <h3><span>Eredivisie</span></h3>
        </div> 
        <div class="row">
          
          <div class="col-md-3 col-sm-6" ng-repeat="team in teams |orderBy:'name' |filter: {league: leagueFilter} | filter: {league: 'Eredivisie'}">
            <!-- Ecommerce UI #3 -->
            <div class="ecom-ui ecom-ui-three">
              <!-- Hot tag -->
              <!-- <span class="ecom-hot bg-green">New</span> -->
              <div class="img-container">
                <!-- Product Image -->
                <a href="#"><img class="img-responsive" src="/teams/{{team.icon}}" alt="" /></a>
              </div>
              <!-- product details -->
              <div class="product-details">
                <!-- product title -->
                <h5>{{team.name}}</h5>
                <div class="clearfix"></div>
                <hr />
                <!-- ecom button -->
                <p><% if current_user_login %>
                  <form>
                    <input type="hidden" ng-model="team_id" ng-value="team.id"></input>
                    <button ng-click="addTeamToUserAllegiance(team.id, <%= current_user_login.user.id %>)" class="btn btn-color" >Add team to your faves</button>
                  </form>
                <% end %>
                </p>
                <!-- Media icon -->
                <!-- <span class="p-media pull-right">
                  <a href="#" class="b-tooltip" data-placement="top" title="21"><i class="fa fa-heart color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="49"><i class="fa fa-share-alt color"></i></a>&nbsp;
                  <a href="#" class="b-tooltip" data-placement="top" title="35"><i class="fa fa-paper-plane-o color"></i></a>
                </span> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- Ecommerce UI #3 -->
          </div>  
        </div><!-- row end -->
                
      </div>
    </div>
  </div>
</div>