<div class="v-card" >
  <!-- Header -->
  <header>
    <ul class="list-inline">
      <li class="active"><a href="/users/<%= current_user_login.user.id%>">Back to profile</a></li>
    </ul>
  </header>
  <!-- tab Content -->
  <div class="tab-content">
    <!-- Tab Pane - Home -->
    <div class="tab-pane fade in active" id="home">
      
      <!-- <div class="vcard-content"> -->
        <!-- Name -->
        <% if @over_ten %>
          <%= link_to 'Show Previous', '?m=all' %>
        <% end %>
        <div class="ui segment">
          <% @messages.each do |message| %>
            <% if message.body %>
              <% user = UserLogin.find(message.user_id) %>
              <div class="item">
                <div class="content">
                  <div class="header"><strong>From: <%= user.user.first_name %></strong> <%= message.message_time %></div>
                  <div class="list">
                    <div class="item">
                      <i class="right triangle icon"></i>
                      <%= message.body %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
          <% if @conversation.sender_id == current_user_login.id %>
            <% recipient = UserLogin.find(@conversation.recipient_id) %>
          <% end %>
          <h2>To: <%= recipient.user.first_name %></h2>

          <div class="field">
            <%= f.text_area :body, class: "form-control" %>
          </div>
            <%= f.text_field :user_id, value: current_user_login.id, type: "hidden"  %>
          <div>
            <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
          </div>

        <% end %>
              
      </div>
      <!-- Clearfix -->
      <div class="clearfix"></div>
    </div>
    
    
    
    
    
  </div>
</div>







