<div class="block-heading-two">
  <h3><span>The fans</span></h3>
</div>  
<!-- Our team starts -->
            
<div class="team-six">
  <div class="row">
      <% @users.each do |user| %>

    <div class="col-md-3 col-sm-6">
    
      <!-- Team Member -->
      <a href="/users/<%= user.id %>"><div class="team-member">
        <!-- Image -->
        <% if user.avatar != nil %>
          <img class="img-responsive team-six" src="<%= user.avatar %>" alt="" />
        <% elsif user.user_photo %>

          <img src="/user_photos/<%= user.user_photo.id %>" class="img-responsive team-six">
        <% else %>
          <%= image_tag 'noprofilepic.jpg', class: 'image-responsive team-six'%>
        <% end %>
        <!-- Name -->
        <h4><%= user.first_name %> <%= user.last_name %></h4>
        <!-- Team Links -->
        <div class="team-links">
          <% user.teams.each do |team| %>
            <%= image_tag team.icon, class: 'team-links' %></span>
          <% end %>
        </div>
        
      </div>
      </a>
      
    </div>
    <% end %>

  </div>
</div>

<!-- Our team ends -->    
   
      
      <!-- Main content ends -->
      