<h1>Create your profile</h1>

<% if current_user_login %>
  <%= form_tag '/users', class: "form-horizontal", method: :post do %>
    <div class="form-group">
      <%=label_tag :first_name, "First name", class: "col-sm-2 control-label" %>
      <%= text_field_tag :first_name, " ", class: "col-sm-10" %>
    </div>

    <div class="form-group">
      <%=label_tag :last_name, "Last Name", class: "col-sm-2 control-label" %>
      <%= text_field_tag :last_name, " ", class: "col-sm-10" %>
      <%= hidden_field_tag :email, current_user_login.email %>
    </div>
    
    <div class="form-group">
      <%=label_tag :twitter_username, "Twitter username", class: "col-sm-2 control-label" %>
      <%= text_field_tag :twitter_username, " ", class: "col-sm-10" %>
    </div>
    <div class="form-group">
      <%=label_tag :fb_username, "Facebook", class: "col-sm-2 control-label" %>
      <%= text_field_tag :fb_username, " ", class: "col-sm-10" %>
    </div>
    <div class="form-group">
      <%=label_tag :avatar, "Picture", class: "col-sm-2 control-label" %>
      <%= text_field_tag :avatar, " ", class: "col-sm-10" %>
    </div>
    
<div class="field">
    <%= @user.user_photo.file_field :file %>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "Submit" %>
      </div>
    </div>
  <% end %>
  <%= form_for(@user_photo) do |photo| %>
  <div class="field">
    <%= photo.file_field :file %>
  </div>
  <div class="actions">
    <%= photo.submit %>
  </div>
<% end %>
<% end %>
