<div ng-app="app">
  <div ng-controller="gamesCtrl" ng-init="setup()">
    <div>
      <h2>Filter by team: <input ng-model="teamFilter"></h2>
      <h2>Filter by date: <input ng-model="dateFilter"></h2>
      
      <datalist id="teams">
        <option ng-repeat="match in matches">{{match.awayTeamName}}</option>
        <option ng-repeat="match in matches">{{match.homeTeamName}}</option>

      </datalist>

      <datalist id="pubs">
        <option ng-repeat="match in matches">{{match.pub}}</option>
      </datalist>
    <!--   <datalist id="dates">
        <option ng-repeat="match in matches">{{match.date}}</option>
      </datalist> -->
      <h1>Premier League</h1>
      <div class="match" ng-repeat="match in matches | filter: {league:'Premier League'} | filter:teamFilter | filter:dateFilter">
        <h2>{{ match.homeTeamName}} vs {{ match.awayTeamName}}</h2>
        <p>{{match.date | date:"EEEE, MMMM d, y 'at' h:mma"}}</p>
        <p>Result: {{match.result["goalsHomeTeam"]}} - {{match.result["goalsAwayTeam"]}} </p>
        <hr>
      </div>

      <h1>Ligue1</h1>
      <div class="match" ng-repeat="match in matches | filter: {league:'Ligue 1'} | filter:teamFilter">
        <h2>{{ match.homeTeamName}} vs {{ match.awayTeamName}}</h2>
        <p>{{match.date | date:"EEEE, MMMM d, y 'at' h:mma"}}</p>
        <p>Result: {{match.result["goalsHomeTeam"]}} - {{match.result["goalsAwayTeam"]}} </p>
        <hr>
      </div>

    </div>
  
  </div>
</div>


  <% if current_pub_user %>

<h1><%= @game_day %></h1>
<h1>Soccer games</h1>
<h2>Premier League</h2>
<% @premier_fixtures.each do |premier_match| %>
  <% datetime = DateTime.parse(premier_match["date"]) %>
  <h3><%= premier_match["homeTeamName"] %> VS <%= premier_match["awayTeamName"] %></h3></a>
  <p><b>Date:</b> <%= datetime.strftime("%A, %b %d, %Y") %> at <%= datetime.strftime("%I:%M:%S %p") %></p>
  
  <p class="game_result">Show Result: <%= premier_match["result"]["goalsHomeTeam"] %> - <%= premier_match["result"]["goalsAwayTeam"] %></p>
    <%= form_tag '/pub_games', class: "form-horizontal", method: :post do %>
      <%= hidden_field_tag :home_team, premier_match["homeTeamName"] %>
      <%= hidden_field_tag :away_team, premier_match["awayTeamName"] %>
      <%= hidden_field_tag :date, datetime.strftime("%A, %b %d, %Y") %>
      <%= hidden_field_tag :time, datetime.strftime("%I:%M:%S %p") %>
      
      <%= hidden_field_tag :league, "Premier League" %>
      
      <%= collection_select :pub, :pub_id, @pubs, :id, :name %>
    
      <%= submit_tag "Add Game" %>
    <%end%>
 

  <hr>
<%end %>

<h2>Ligue1</h2>
<% @ligue1_fixtures.each do |ligue1_match| %>
  <p><b>Date:</b> <%= ligue1_match["date"] %></p>
  <p><%= ligue1_match["homeTeamName"] %> VS <%= ligue1_match["awayTeamName"] %></p>
  <p>Result: <%= ligue1_match["result"]["goalsHomeTeam"] %> - <%= ligue1_match["result"]["goalsAwayTeam"] %></p>
  <hr>
<%end %>
 <%end%>
