<div class="container">
  <h1>Edit your pub</h1>
  <div class="soccer-form">

  <% if current_pub_user %>
  <%= form_tag "/pubs/#{@pub.id}", class: "form-horizontal",:multipart => true, method: :patch do %>
    <div class="form-group">
      <%=label_tag :name, "Pub name" %>
      <%= text_field_tag :name, @pub.name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag :description, "Pub description" %>
      <%= text_area_tag :description, @pub.description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :address1, "Address" %>
      <%= text_field_tag :address1, @pub.address1, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%=label_tag :address2, "Address" %>
      <%= text_field_tag :address2, @pub.address2, class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :city, "City" %>
      <%= text_field_tag :city, @pub.city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :zip, "Zip Code" %>
      <%= text_field_tag :zip, @pub.zip, class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :state, "State" %>
      <%= text_field_tag :state, @pub.state, class: "form-control" %>
    </div>
    

    <div class="form-group">
      <%=label_tag :phone, "Phone" %>
      <%= text_field_tag :phone, @pub.phone, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%=label_tag :fax, "Fax" %>
      <%= text_field_tag :fax, @pub.fax, class: "form-control" %>
    </div>
      
    
    <div class="form-group">
      <%=label_tag :email, "Email" %>
      <%= text_field_tag :email, @pub.email, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%=label_tag :website, "Website" %>
      <%= text_field_tag :website, @pub.website, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= label_tag :file, "Upload a photo" %> 
      <%= file_field_tag :file %>
    </div>
    <div class="form-group">
      <%= submit_tag "Submit", class:"btn btn-color" %>
    </div> 
    <% end %>
  <% end %>
</div>  
</div>

