<div ng-app="app">

  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <div class="container">
        
      <div class="block-heading-two">
        <h3><span>All Pubs</span></h3>
      </div>

      <!-- Team #2 -->
      <div class="team-two">
        <div class="row">
          <% @pubs.each do |pub| %>

        
          <div class="col-md-6">
            <!-- Team #2 member -->
            <div class="team-member">
              <!-- Image -->
              <% if pub.pub_photos[0].photo_url != nil %>
                <img class="img-responsive" src="<%= pub.pub_photos[0].photo_url %>" alt="" />
              <% elsif pub.pub_photos[0].filename != nil %>
                <img src="/pub_photos/<%= pub.pub_photos[0].id %>" alt="">
              <% else %>
                <%= image_tag('genericpub.jpg', class:'img-responsive') %>
              <% end %>
              <div class="team-details">
      <!--           <span class="deg">Creative</span>
       -->          <!-- Name -->
                <h4><%= link_to pub.name, "/pubs/#{pub.id}" %></h4>
                <!-- Para -->
                <p><%= pub.address1 %></p>
                <p><%= pub.city %>, <%= pub.state %> <%= pub.zip %></p>
                <p><a href="<%= pub.website %>" target="_blank"><%= pub.website %></a></p>
                <% if current_pub_user && current_pub_user.id == pub.pub_user_id %>
                  <%= link_to "Edit this pub", "/pubs/#{pub.id}/edit" %> 
                  <br />
                  <a href="/games">Add games</a>
                <% end %>

                
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <% end %>
          
        </div>
      </div>
      <!-- Team #2 end -->
    </div>
  </div>

