<div ng-app="app">
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
        <!-- Page heading two starts -->    
    <div class="page-heading-two">
      <div class="container">
        <h2>Pubs <i class="fa fa-futbol-o"></i> 
        </h2>
        <div class="clearfix"></div>
      </div>
    </div>
      
<!-- Page heading two ends -->

    <div class="container">
        
      
<!-- Team #4 -->
          <div class="team-four">
            <div class="row">
              <% @pubs.each do |pub| %>

              <div class="col-md-3 col-sm-6">
                <!-- Team member -->

                <div class="team-member">
                  <!-- Image hover container -->
                  <div class="img-container pub-thumb">
                    <!-- Image -->
                    <% if pub.pub_photos[0].photo_url != nil %>
                      <img class="img-responsive" src="<%= pub.pub_photos[0].photo_url %>" alt="" />
                    <% elsif pub.pub_photos[0].filename != nil %>
                      <img src="/pub_photos/<%= pub.pub_photos[0].id %>" class="img-responsive" alt="">
                    <% else %>
                      <%= image_tag('genericpub.jpg', class:'img-responsive') %>
                    <% end %>

                    <div class="img-hover">
                      <!-- Social -->
                      <div class="brand-bg img-hover-icons">
                        <a class="soccer" href="tel:'<%= pub.phone %>'" target="_blank"><i class="fa fa-phone circle-3"></i></a>
                        <a class="soccer" href="<%= pub.website %>"><i class="fa fa-globe circle-3"></i></a>
                        <a class="soccer" href="mailto:'<%= pub.email %>'"><i class="fa fa-envelope circle-3"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="team-details">
                    <!-- Name -->
                    <div class="block-heading-two">
                      <h3><span><%= link_to pub.name, "/pubs/#{pub.id}" %></span></h3>
                    </div>
                    <p><%= pub.address1 %></p>
                    <span class="deg"><%= pub.city %></span>
                    <p><% pub.teams.each do |team| %>
                    <%= image_tag(team.icon, class: 'team-icon') %>
                    <% end %></p>
                    <!-- Para -->
                    <% if current_pub_user && current_pub_user.id == pub.pub_user_id %>
                      <%= link_to "Edit this pub", "/pubs/#{pub.id}/edit" %>  / 
                      <a href="/games">Add games</a>
                    <% end %>



                  </div>
                </div>
              
              </div>
              <% end %>
            </div>
          </div>
          <!-- Team #4 end -->
      
    </div>
  </div>

