
<div class="container">
  <h1>Add your pub to the database</h1>
<div class="soccer-form">
  <% if current_pub_user %>
  <%= form_tag '/pubs', class: "form-horizontal", :multipart => true, method: :post do %>
    <div class="form-group">
      <%=label_tag :name, "Pub name" %>
      <%= text_field_tag :name, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :description, "Description" %>
      <%= text_area_tag :description, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :address1, "Address" %>
      <%= text_field_tag :address1, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :address2, "Address" %>
      <%= text_field_tag :address2, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :city, "City" %>
      <%= text_field_tag :city, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :zip, "Zip Code" %>
      <%= text_field_tag :zip, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%=label_tag :state, "State" %>
    
      <%= text_field_tag :state, "", class: "form-control" %>  

    </div>
    
    <div class="form-group">
      <%=label_tag :phone, "Phone" %>
      <%= text_field_tag :phone, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag :fax, "Fax" %>
      <%= text_field_tag :fax, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag :email, "Email" %>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag :website, "Website" %>
      <%= text_field_tag :website, "http://", class: "form-control" %>
    </div>

     
    <div class="form-group">
      <%= label_tag :file, "Upload a photo" %> 
      <%= file_field_tag :file %>
    </div>
  
    <div class="form-group">
      <%= submit_tag "Submit", class:"btn btn-color" %>
    </div>
  <% end %>
  <% end %>
</div>
</div>
