<h1>Add your pub to the database</h1>

<% if current_pub_user %>
<%= form_tag '/pubs', class: "form-horizontal", method: :post do %>
  <div class="form-group">
    <%=label_tag :name, "Pub name", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :name, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :address1, "Address", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :address1, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :address2, "Address", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :address2, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :city, "City", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :city, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :zip, "Zip Code", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :zip, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :state, "State", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :state, " ", class: "col-sm-10" %>  
  <div class="form-group">
    <%=label_tag :map, "Embed google map link", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :map, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :phone, "Phone", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :phone, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :fax, "Fax", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :fax, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :email, "Email", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :email, " ", class: "col-sm-10" %>
  <div class="form-group">
    <%=label_tag :website, "Website", class: "col-sm-2 control-label" %>
  </div>
    <%= text_field_tag :website, " ", class: "col-sm-10" %>

  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag "Submit" %>
    </div>
  </div>
<% end %>
<% end %>
