

<!-- Bootstrap carousel usage 
  Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.  
  
  Carousel comes with 3 main data attributes which you can customize. They are...
  data-interval - Time delay between item cycle. Default value "5000".
  data-pause - Pause on hover. Default value "pause".
  data-wrap - Continues cycle or stop at the end. Default value "true".
-->

<!-- Outer layer -->
<% if @photos.length > 1 %>
  <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
    <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel-1" data-slide-to="1"></li>
      <li data-target="#bs-carousel-1" data-slide-to="2"></li>
    </ol>
    <!-- Slides. You can also add captions -->
    <div class="carousel-inner">
      <!-- Item, First item should have extra class "active" -->
      <% @photos.each do |photo| %>
        <div class="item active">
          <!-- Image -->
          <img src="<%= @photos[0].photo_url %>" alt="">
        </div>
      <% end %>
      <!-- <div class="item">
        <img src="<%= @photos[0].photo_url %>" alt="">
      </div>
      <div class="item">
        <img src="<%= @photos[0].photo_url %>" alt="">
      </div> -->
    </div>
    <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
    <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
      <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
      <span class="fa fa-chevron-right"></span>
    </a>
  </div>
<% elsif @photos[0].photo_url != nil %>
  <div class="carousel-inner">
    <!-- Item, First item should have extra class "active" -->
    <div class="item active">
      <!-- Image -->
      <img src="<%= @photos[0].photo_url %>" alt="">
    </div>
  </div>
<% elsif @photos[0].filename != nil %>
  <div class="carousel-inner">
    <!-- Item, First item should have extra class "active" -->
    <div class="item active">
      <!-- Image -->
      <img src="/pub_photos/<%= @photos[0].id %>" alt="">

    </div>
  </div>
<% else %>
  <div class="carousel-inner">
    <!-- Item, First item should have extra class "active" -->
    <div class="item active">
      <!-- Image -->
      <%= image_tag('genericpub.jpg') %>
    </div>
<% end %>

<!-- Carousel without captions ends -->

<!-- Block heading two -->
<div class="block-heading-two">
  <h3><span><%= @pub.name %></span></h3>
</div>  

<div class="row">
  <div class="col-md-5 col-sm-5">
    <p class="para-big">
      <%= @pub.description %>
    </p>
      <%= @pub.address1 %>
    <br /><%= @pub.city %>, <%= @pub.state %> <%= @pub.zip %>
    <br /><%= @pub.phone %> 
    <br /><a href="mailto:<%= @pub.email %>" target="_top"><%= @pub.email %></a>
    <br /><a href="<%= @pub.website %>" target="_blank"><%= @pub.website %></a>
    <br />
    <% if current_pub_user && current_pub_user.id == @pub.pub_user_id %>
      <%= link_to "Edit this pub", "/pubs/#{@pub.id}/edit" %>
      <a href="/games">Add games</a>
    <%end%>

  </div>
  <div class="col-md-5 col-sm-4 text-center">
    <iframe
    width="600"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNQdefi5T421OzoxswgyaFw458k-NUH70
      &q=<%=@pub.address1%>,<%=@pub.city%>+<%=@pub.state%>" allowfullscreen>
  </iframe>
  </div>
</div>

<br />
<div class="block-heading-two">

  <h3><span>Games Showing</span></h3>
</div> 
<div ng-app="app">
  <div ng-controller="gamesCtrl" ng-init="setup()">
    <% @games.each do |game| %>
      <% if game.game.date >= 5.days.ago %>
        
        <div style="float:right;">
          <addtocalendar
            start-date="<%= game.game.date.strftime("%Y%m%dT%H%M%S") %>"
            end-date="<%= (game.game.date + 2*60*60).strftime('%Y%m%dT%H%M%S')%>"
            title="<%= game.game.home_team_name %> vs <%= game.game.away_team_name %>"
            location="<%= game.pub.name %>"
            class-name="btn btn-sm btn-default dropdown-toggle"
            description="Football match at <%= game.pub.name %>. Address: <%= game.pub.address1 %>"
            btn-text="Add to calendar">
          </addtocalendar>
        </div>
            <h4><%= game.game.home_team_name %> <%= image_tag game.game.home_team_icon, class: 'team-icon' %>
           VS 
           <%= image_tag game.game.away_team_icon, class: 'team-icon' %><%= game.game.away_team_name %>
          </h4>
          <p><%= game.game.date.strftime("%A, %d %b %Y") %> at <%= game.game.date.in_time_zone("Central Time (US & Canada)").strftime("%l:%M %p")  %></p>
        <hr>
      <%end%>
    <%end%>
  </div>
</div>



<!-- Block heading two -->
<% if current_user_login %> 
  <div class="block-heading-two">
    <h3><span>Add a review</span></h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Enquiry form block -->
      <div class="rs-enquiry">
        <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <div class="form-group"> -->
                <%= form_tag "/reviews", class: "form-horizontal", method: :post do %>
                  <%= hidden_field_tag :pub_id, @pub.id %>
                  <%= hidden_field_tag :user_id, current_user_login.id %>
                  <!-- <label for="enquiryInput1">Name</label> -->
                  <p><%= label_tag :author, "Name" %></p>
                  <%= text_field_tag :author, current_user_login.user.first_name %>
              <!-- </div> -->
            </div>
        </div>
        <div class="form-group">
            <!-- <label for="enquiryInput4">Review</label> -->
            <%= label_tag :review_text, "Review" %>
            <%= text_area_tag :review_text, nil, size: "65x7", class: 'form-control' %>
            <!-- <textarea class="form-control" id="enquiryInput4" placeholder="Message" rows="7"></textarea> -->
        </div>
        <%= submit_tag "Submit", class:"btn btn-color" %> <button type="reset" class="btn btn-white">Reset</button></p>
        <% end %>
      </div>  
      

    
    </div>
  </div>
  <% end %>
<br />

<% if @reviews.length > 0 %>
<div class="testimonials-one">
  <div class="block-heading-two">
      <h3><span>Reviews</span></h3>
  </div>  
  <!-- Navigation -->
  
    <div class="owl-carousel" data-items="3" data-auto-play="true" data-pagination="false" data-single-item="false">
      <% @reviews.each do |review| %><!-- Carousel item starts -->
      
      <div class="owl-content">
        <!-- Testimonials one Item -->
        
        <div class="testimonials-one-item">
          <div class="testimonials-one-content">
            
            <%= review.review_text%>
          </div>
          <h5><a href="#"><%= review.author %><img src="<%= review.user.avatar %>" alt="" class="img-responsive img-circle" /></a></h5>        
          
        </div>
      </div> <!-- Carousel item ends -->
      <% end %>
      </div> 
      <div class="owl-nav">
        <a class="owl-nav-prev"><i class="fa fa-chevron-left"></i></a>
        <a class="owl-nav-next"><i class="fa fa-chevron-right"></i></a>
      </div>
     
    </div>
</div>
<%end%>
